@using AbpCompanyName.AbpProjectName.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.About; //The menu item will be active for this page.
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Acerca de Nosotros
                </h2>
            </div>
            <div class="body">
                <p>
                    Visítanos en <a href="http://vcaperu.com" target="_blank">VCA Consulting & Solutions</a>.
                </p>

                <h3>Qué es el proyecto CRM 103?</h3>

                <p>
                    Este proyecto busca automatizar las consultas telefónicas por número de empresas.
                </p>

            </div>
        </div>
    </div>
</div>