@using AbpCompanyName.AbpProjectName.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.About; //The menu item will be active for this page.
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Pruebas
                </h2>
            </div>
            <div class="body">
                <button class="btn btn-primary" onclick="CallAjaxTest()">Prueba Ajax</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    @*https://aspnetboilerplate.com/Pages/Documents/Javascript-API/AJAX*@

    <script type="text/javascript">
        function CallAjaxTest(){
           var newPerson = {
                name: 'Paris Pantigoso',
                age: 38
            };

            abp.ajax({
                url: '/Crm/SavePerson',
                data: JSON.stringify(newPerson)
            }).done(function(data) {
                abp.notify.success('Persona creada con id = ' + data.personId);
            });
        }

    </script>
}